article{
    display: flex;
    justify-content: center;
}

.breadcrumb_and_print{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 984px;
    padding: 11px;
    height: 46px;
    left: 148px;
    top: 168px;
    background: #F1F1F1;
    border-radius: 4px;
    border: solid 1px black;
}
.breadcrumb, .print_btn{                /* 麵包屑 友善列印 */
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px black;
}
.breadcrumb{
    padding-right: 5px;
}
.print_btn{
    padding-left: 5px;
}
.icon_homepage, .icon_print{                /* 首頁 列印icon */
    width: 16px;
    height: 16px;
}