/* ↓ article 區/////////////////////////////////////*/
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px rgb(255, 0, 0); */
}

/* ↓ 麵包屑跟友善列印 區/////////////////////////////////////*/
.breadcrumb_and_print{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 984px;
    padding: 11px;
    height: 46px;
    left: 148px;
    top: 168px;
    margin-top: 16px;
    background: #F1F1F1;
    border-radius: 4px;
    /* border: solid 1px rgb(194, 111, 111); */
}
.breadcrumb, .print_btn{                /* 麵包屑 友善列印 */
    display: flex;
    flex-wrap: nowrap;
    /* border: solid 1px black; */
}
.breadcrumb a{
    left:5px;
}
.print_btn{
    padding-left: 5px;
}
.icon_homepage, .icon_print{                /* 首頁 列印icon */
    width: 16px;
    height: 16px;
}
/* ↑  麵包屑跟友善列印 區/////////////////////////////////////*/

/* ↓   標題(title) 區/////////////////////////////////////*/
.title_box {
    height: 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.title_line {
    height: 1px;
    border: #000000 1.5px solid;
    background-color: #000000;
    border-radius: 100px;
    margin-top: 10px;
}

/* ↑  標題(title) 區/////////////////////////////////////*/

/* ↓ 內文 區/////////////////////////////////////*/

/* ↓ section btn設定/////////////////////////////////////*/
.section{
    margin-top: 16px;
    padding: 16px;
    width: 100%;
    text-align: center;
    align-items: center;
}
.btn_block{
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 982px;
    margin-top: 20px;
}
.btn_section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.btn{
    margin: 12px 20px 12px 0px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border: solid 2px black;
    border-radius: 25px;
    background-color: rgb(255, 196, 0);
}

/* ↑ section btn設定/////////////////////////////////////*/
.section_1,.section_2,.section_3,.section_4,.section_5,.section_6,.section_7,.section_8{
    height: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.section_2,.section_4,.section_6{
    background-color: #F1F1F1;;
}
.section_2,.section_3{
    height: 189px;
}
.section_4{
    height: 440px;
}
.section_6{
    height: 450px;
}
.section_7{
    height: 500px;
}
.section_8{
    height: 150px;
}
.download_android,.download_ios,.application_qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 35px;
    margin-top: 20px;
    margin-bottom: 44px;
    padding: 10px;
    /* border: solid 1px black; */
    transition: 0.5s;

    border-radius: 12px;
    /* border: solid 2px black; */
}
.download_android:hover{
    background-color: rgb(184, 184, 184);
}
.download_ios:hover{
    background-color: rgb(184, 184, 184);
}
.application_qrcode:hover{
    background-color: rgb(184, 184, 184);
}
.section_6 img{
    width: 180px;
    height: 180px;
}
.section_6 .textC{
    display: flex;
    justify-content: center;
    width: 180px;
    margin: 0px;
    margin-top: 10px;
    line-height: 25px;
    letter-spacing: 1px;
}
.section_6 .btn_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid 1px black; */
}
.section_8 .btn_section{
    padding: 20px;
}
.section_8 .btn{
    margin: 0;
    padding: 10px 20px;
    background-color: #ffffff;
    border: solid 0.1px black;
    border-radius: 8px;
}
.section_8 .btn:hover{
    background-color: rgb(184, 184, 184);
}


/* ↑ 內文 區/////////////////////////////////////*/

/* ↑  article 區/////////////////////////////////////*/
