html{
    box-sizing:border-box;
    font-size: 10px;
  }

  *,*::before,*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
  font-family: 'ArialMT Regular',Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.container{
  width: auto;
  min-width: 1280px;
  height: 940px;

}

a{            /*把a標籤的底線都拿掉，加上自動換行，顏色設定為黑色*/
  display: block;
  color: #030303;
  text-decoration: none;
}

.navbtn_li{                /*給list型導覽列的li元素，使導覽列橫向排列*/
  display: flex;
}

.libtn{                     /*list型導覽列按鈕初始*/
  list-style: none;
  text-align: center;
}

.flexTextCenter{            /*文字垂直中央置中（給盒子），為了子導覽列所以設定向下排序*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ↓ 字型設定區/////////////////////////////////////////////////////////////*/

.textH{                 /* header 字型*/
  padding: 0px;
  margin: 0px;
  color: #000000;
  font-size: 1.4rem;
  font-family: 'Arial', 'Arial Narrow', sans-serif;
}

.textN{                 /* nav 字型*/
  padding: 0px;
  margin: 0px;
  color: #222222;
  font-size: 2.4rem;
  font-family: 'Arial', 'Arial Narrow', sans-serif;
  letter-spacing: 1px;
  height: inherit;
  line-height: 111px;
}

.textNp{                 /* sub nav 字型*/
  padding: 10px;
  margin: 0px;
  color: #222222;
  font-size: 1.4rem;
  font-family: 'Arial', 'Arial Narrow', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

.textA{                 /* 內文 ABC 級字型都還沒用過可以改*/
    padding: 0px;
    margin: 0px;
    color: #222222;
    font-size: 3.6rem;
    font-family: 'Arial', 'Arial Narrow', sans-serif;
}

.textB{
  padding: 0px;
  margin: 0px;
  color: #222222;
  font-size: 2.2rem;
  font-family: 'Arial', 'Arial Narrow', sans-serif;
}

.textC{
  padding: 0px;
  margin: 0px;
  color: #222222;
  font-size: 1.6rem;
  font-family: 'Arial', 'Arial Narrow', sans-serif;
}

.textF{
  padding: 0px;
  margin: 0px;
  color: #FFFFFF;
  font-size: 1.3rem;
  font-family: 'Roboto','Arial', 'Arial Narrow', sans-serif;
  line-height: 15px;
  letter-spacing: 0.1em;
}


/* ↑ 字型設定區/////////////////////////////////////////////////////////////////*/

/* ↓ Header 區/////////////////////////////////////*/
header{
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: #1CADAD;
}

.header_box{
  height: inherit;
  width: 984px;
  display: flex;
  justify-content: space-between;
}


.headerL{
  height: inherit;
}

.headerL_list{
  height: inherit;
}

.header_btn{
  width: 84px;
}


.headerR{
  height: inherit;
  display: flex;
  justify-content: space-around;
}

.header_lan{
  display: flex;
  justify-content: space-around;
}

.headerR a{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

.header_lan img{
  height: 25px;
  width: auto;
}

.header_lan .textH{
  padding: 10px;
}

.header_textSize{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.header_textSize .textH{
  padding: 5px;
}

.header_textSize .smallText{
  font-size: 0.5em;
}

.header_textSize .bigText{
  font-size: 1.75em;
}
/* ↑ Header 區/////////////////////////////////////*/

/* ↓ nav 區/////////////////////////////////////*/
nav{
  height: 111px;
  display: flex;
  justify-content: center;
  background-color: inherit;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
}

.nav_box{
  height: inherit;
  width: 984px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_logo{
  height: 85px;
}

.nav_list{
  height: inherit;
}

.icon_search{
  height: 29px;
}

.nav_btn{
  height: inherit;
  padding: 0 15px;
  position: relative;
}

.nav_btnS{
  height: inherit;
  padding: 0 15px;
  position: relative;
}

.nav_btn_a_box{
  height: inherit;
}

.nav_list_sub{
  width: 130px;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  display: none;
}

.nav_btn:hover{
  background-color: #d1d1d1;
  padding: 0;
  /* transition: .5s; */
}

.nav_btnS:hover{
  background-color: #d1d1d1;
  /* transition: .5s; */
}

.nav_btn:hover .nav_list_sub{
  display: block;
  transition: .3s;
}

.nav_btn_sub:hover{
  background-color: #d1d1d1;
  transition: .3s;
}

.nav_list_sub > .nav_btn_sub:hover {
  background-color: #d1d1d1;
  transition: .3s;
}

/* ↑ nav 區/////////////////////////////////////*/

/* ↓ banner 區/////////////////////////////////////*/

.banner{
  width: 100%;
  margin-bottom: 30px;
}

.banner img{
  width: inherit;
}

/* ↑ banner 區/////////////////////////////////////*/

/* ↓ footer 區/////////////////////////////////////*/

footer{
  background-color: #1CADAD;
  width: inherit;
  height: 217px;
}

.footer_box{
  height: inherit;
  width: 885px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo{
  height: 115px;
}

.footerR{
  height: inherit;
  padding: 20px 0;
}

.footerR_top{
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_btn_line{
  height: inherit;
  width: 1px;
  border-right: #ffffff 1px solid;
}

.footerR_botton{
  padding-top: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* ↑ footer 區/////////////////////////////////////*/


/* .backtop{
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  right: 20px;
  bottom: 20px;
  background-color: #1CADAD;
}  */

.toTop-arrow {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  /* opacity: 0.8; */
  background: #ABE0E3;
  cursor: pointer;
  position:fixed;
  right: 10px;
  bottom: 10px;
  display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
  margin: 4px;
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #ffffff;
  position: absolute;
  top: 15px;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 4px;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 4px;
}
.toTop-arrow:focus {outline: none;}