article{
    display: flex;
    justify-content: center;
}

.article_box{
    width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxA{
    display: flex;
    justify-content: space-between;
    width: inherit;
}



.frame{
    height: 206px;
    width: inherit;
    border: #000000 7px solid;
    border-radius: 52px;
    margin: 15px;
}

.boxA_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.box_big{
    width: 401px;
}

.box_small{
    width: 223px;
}

.arrow_box{
    width: inherit;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.arrow_box div{
    background-color: #B7EB21;
    width: 55px;
    height: 34px;
    border-radius: 6px;
}

.icon_arrow{
    width: 37px;
    height: 18px;
}


.boxB{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    padding: 40px;
}

.boxB p{
    padding-bottom: 40px;
}

.geo_pic{
    height: 566px;
    margin-bottom: 10px;
}