/* 各頁頁首標題 */

.tittle_box{
    height: 80px;
    margin-top: 20px;
}

.tittle_box p{
    padding: 0 15px;
}

.tittle_line{
    height: 1px;
    border: #000000 1.5px solid;
    background-color: #000000;
    border-radius: 100px;
    margin-top: 10px;
}

/* ↓ 麵包屑跟友善列印 區/////////////////////////////////////*/
.breadcrumb_and_print{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 984px;
    padding: 11px;
    height: 46px;
    left: 148px;
    top: 168px;
    margin-top: 16px;
    background: #F1F1F1;
    border-radius: 4px;
    /* border: solid 1px rgb(194, 111, 111); */
}
.breadcrumb, .print_btn{                /* 麵包屑 友善列印 */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* border: solid 1px black; */
}
.breadcrumb a{
    padding: 3px;
    left:5px;
}
.print_btn a{
    padding: 3px;
}
.print_btn{
    padding-left: 5px;
}
.icon_homepage, .icon_print{                /* 首頁 列印icon */
    width: 16px;
    height: 16px;
}
/* ↑  麵包屑跟友善列印 區/////////////////////////////////////*/







.back_btn{
    margin: 40px;
    padding: 15px 40px;
    letter-spacing: 1px;
    background-color: #ffffff;
    border: solid 0.1px black;
    border-radius: 8px;
    transition: 0.5s;
}
.back_btn:hover{
    background-color: #e6e6e6;
}